<!DOCTYPE html>
{% load staticfiles%}
<html>
    <head>
        <meta charset="utf-8">
        <title>User Data></title>
    </head>
    <body>
        <h1>Here are your users:</h1>
        <div class="container">
            {% if user_records %}
                <ol>
                    {%for rec in user_records%}
                        <li> User Info</li>
                            <ul>
                                <li>First Name: {{ rec.first_name }}</li>
                                <li>Last Name: {{ rec.last_name }}</li>
                                <li>Email: {{ rec.email }}</li>
                            </ul>
                    {% endfor %}
                </ol>
            {% else %}
                <p>NO ACCESS RECORDS FOUND!</p>
            {% endif %}
        </div>
    </body>
</html>